<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none';">
    <title>Zoy Jogos</title>
    <link rel="stylesheet" href="zoyjogos.css">
</head>

<body>
    <div id="header">
        <img id="banner" src="../../../assets/imgs/logo_zoy.png" height="51" width="244" alt="Icon Zoy">
        <div id="subtitle">Aprenda Brincando</div>
    </div>
    <svg height="100%" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-150,-60)">
            <svg height="100%" width="100%" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"
                preserveAspectRatio="none" x="150" y="60">
                <path id="path" d="M 10,15 C 15,60 35,100 50,70 S 80,20 90,85"></path>
            </svg>
            
            <svg height="150" width="300" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="10%" y="15%">
                <path d="M 111.11,98.89 A 55 55 0 1 1 188.89,98.89" class="gaugeBack" id="back-quiz"></path>
                <g class="icon" id="icon-quiz">
                    <circle cx="150" cy="60" r="50" class="iconBack"></circle>
                    <image xlink:href="index/quiz.png" height="100" width="100" x="100" y="10"></image><a
                        id="link-quiz" xlink:href="quiz/zoy_quiz.html">
                        <circle cx="150" cy="60" r="50" class="iconBorder"></circle><text x="150"
                            y="135">Quiz</text>
                    </a>
                </g>
            </svg>
            
            <svg height="150" width="300" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="16%" y="45%">
                <path d="M 111.11,98.89 A 55 55 0 1 1 188.89,98.89" class="gaugeBack" id="back-pong"></path>
                <g class="icon" id="icon-pong">
                    <circle cx="150" cy="60" r="50" class="iconBack"></circle>
                    <image xlink:href="index/pong.png" height="100" width="100" x="100" y="10"></image><a id="link-pong"
                        xlink:href="zoy_pong/zoy_pong.html">
                        <circle cx="150" cy="60" r="50" class="iconBorder"></circle><text x="150"
                            y="135">Zoy Pong</text>
                    </a>
                </g>
            </svg>
            
            <svg height="150" width="300" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="26%" y="69%">
                <path d="M 111.11,98.89 A 55 55 0 1 1 188.89,98.89" class="gaugeBack" id="back-dino"></path>
                <g class="icon" id="icon-dino">
                    <circle cx="150" cy="60" r="50" class="iconBack"></circle>
                    <image xlink:href="index/dino.png" height="100" width="100" x="100" y="10"></image><a id="link-dino"
                        xlink:href="dinogame/dinogame.html">
                        <circle cx="150" cy="60" r="50" class="iconBorder"></circle><text x="150" y="135">DinoGames</text>
                    </a>
                </g>
            </svg>
        </g>
    </svg>
</body>

</html>