html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 1em;
  left: 20%;
  right: 20%;
  width: 60%;
  text-align: center;
}

#banner {
  padding: 1em;
}

#subtitle {
  font-style: italic;
}

a {
  text-decoration: none;
}

#path {
  stroke: #ccc;
  stroke-width: 1;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: dash .7s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.iconBack {
  fill: #fff;
}

.iconBorder {
  stroke: #aaa;
  stroke-width: 5;
  fill: rgba(0, 0, 0, 0.1);
}

a:hover > .iconBorder {
  fill: rgba(255, 255, 255, 0.1);
}

a:hover > text {
  fill: #666;
}

.icon {
  animation: pop .5s cubic-bezier(.5,.5,.5,1.5) forwards;
  visibility: hidden;
}

.icon text {
  text-anchor: middle;
  font-size: 18pt;
}

#icon-quiz {
  animation-delay: 0.0s;
}

#icon-pong {
  animation-delay: 0.1s;
}

#icon-dino {
  animation-delay: 0.2s;
}

#back-quiz {
  animation-delay: 0.3s;
}

#back-pong {
  animation-delay: 0.4s;
}

#back-dino {
  animation-delay: 0.5s;
}


@keyframes pop {
  from {
    transform: translate(150px, 50px) scale(0);
    visibility: visible;
  }
  to {
    transform: translate(0, 0) scale(1);
    visibility: visible;
  }
}

.gaugeBack {
  stroke: #aaa;
  stroke-width: 6;
  fill: none;
  animation: pop 0.1s linear forwards;
  visibility: hidden;
}
